.product-card {
  flex-direction: row;
  width: 600px;
  height: 450px;
}

.product-card__image {
  height: 100%;
  width: 50%;
}

.product-card__image img {
  height: 100%;
}

.product-card__content {
  width: 50%;
  height: auto;
  padding: 35px 32px 32px 32px;
}
